<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms loginUrl="LoginWF.aspx" protection="All" timeout="20" path="/"/>
    </authentication>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <add name="stringConexion" connectionString="Data Source=FEDECARP-PC\SQLSERVER;Initial Catalog=ProyectoWeb;Integrated Security=True"/>
  </connectionStrings>
</configuration>